# 1)To check whether string is palindrame or not

In [5]:
s=input("Enter the string..")
s1=s[::-1]
if s==s1:
    print("Given string is palindrame")

Enter the string..madam
Given string is palindrame

# 2) Reverse words in a given string

In [7]:
a="RacksonIT"
a[::-1]

'TInoskcaR'

# 3)To print even length words in a string

In [9]:
a1="RacksonIT"
for x in a1:
    a2=a1.index(x)
    if a2%2==0:
        print(x,a2)

R 0
c 2
s 4
n 6
T 8

# 4)To find the size of a tuple

In [10]:
a=("mango","apple","banna","orange")
a

('mango', 'apple', 'banna', 'orange')

In [11]:
len(a)

4

# 5)Find out max and min k element in tuple

In [12]:
z=(10,20,30,40,40,50,60)
max(z)

60

In [13]:
min(z)

10

# 6)Sum of tuple element

In [14]:
z

(10, 20, 30, 40, 40, 50, 60)

In [15]:
sum(z)

250

# 7)Sort python dictionaries by key/values

In [17]:
d={"a":100,"b":45,"c":86,"d":52}

In [18]:
d.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [21]:
d1=d.values()
d1

dict_values([100, 45, 86, 52])

# 8) find the sum of all items in a dictionary

In [22]:
d1

dict_values([100, 45, 86, 52])

In [23]:
sum(d1)

283

# 9) To swap two element in a list

In [24]:
b=[5,6,4,7,8,9]
b[1],b[3]=b[3],b[1]

In [25]:
print(b)

[5, 7, 4, 6, 8, 9]

# 10)To interchange first and last element in a list

In [27]:
p=["mango","apple","banna","orange"]
p[0],p[3]=p[3],p[0]
print(p)

['orange', 'apple', 'banna', 'mango']