# For loop

## Take a 5 student name with there 3 subject mark find the total and average marks

In [5]:
name=["priti","komal","rutuja","kartik","rohit"]
temp=[]
for x in name:
    print(" student name:",x)
    for x1 in range(3):
        sub=input("enter the sub name:")
        m=int(input("enter the mark:"))
        temp.append(m)
        total=sum(temp)
        avg=total/len(temp)
    print(" the total mark:",total,"average:",avg)

 student name: priti
enter the sub name:english
enter the mark:56
enter the sub name:math
enter the mark:96
enter the sub name:hindi
enter the mark:52
 the total mark: 204 average: 68.0
 student name: komal
enter the sub name:english
enter the mark:75
enter the sub name:hindi
enter the mark:56
enter the sub name:math
enter the mark:96
 the total mark: 431 average: 71.83333333333333
 student name: rutuja
enter the sub name:english
enter the mark:85
enter the sub name:hindi
enter the mark:45
enter the sub name:math
enter the mark:75
 the total mark: 636 average: 70.66666666666667
 student name: kartik
enter the sub name:english
enter the mark:75
enter the sub name:hindi
enter the mark:63
enter the sub name:math
enter the mark:74
 the total mark: 848 average: 70.66666666666667
 student name: rohit
enter the sub name:english
enter the mark:96
enter the sub name:hindi
enter the mark:63
enter the sub name:math
enter the mark:45
 the total mark: 1052 average: 70.13333333333334

## Take a 5 student each have 3 subject with marks.add the mark with number of charcter in student name

In [7]:
name=[]
mark=[]
new_mark=[]
for x in "abcde":
    name=input("enter the student name:")
    length=len(name)
    print("welcome:",name,"length of string:",length)
    for y in range(3):
        m=int(input("enter the mark:"))
        mark.append(m)
    total=sum(mark)
    print("total mark",total)
    new_mark=total+length
    mark.clear()
    print("new_mark",new_mark)

enter the student name:rutuja
welcome: rutuja length of string: 6
enter the mark:45
enter the mark:63
enter the mark:52
total mark 160
new_mark 166
enter the student name:renu
welcome: renu length of string: 4
enter the mark:42
enter the mark:41
enter the mark:85
total mark 168
new_mark 172
enter the student name:komal
welcome: komal length of string: 5
enter the mark:52
enter the mark:45
enter the mark:63
total mark 160
new_mark 165
enter the student name:om
welcome: om length of string: 2
enter the mark:85
enter the mark:45
enter the mark:63
total mark 193
new_mark 195
enter the student name:harishchandr
welcome: harishchandr length of string: 12
enter the mark:45
enter the mark:41
enter the mark:23
total mark 109
new_mark 121

## Take a 4 city and take a each city have 3 favourite places

In [1]:
city=[]
fav_place=[]
for x in range(4):
    name=input("enter the city name:")
    print("welcome city:",name)
    for x2 in range(3):
        ab=input("enter the favourite places:")
        fav_place.append(ab)
    print(fav_place)

enter the city name:Pune...
welcome city: Pune...
enter the favourite places:dagdusheth ganpti
enter the favourite places:sinhgad
enter the favourite places:parvti
['dagdusheth ganpti', 'sinhgad', 'parvti']
enter the city name:Mumbai
welcome city: Mumbai
enter the favourite places:Lal mahal
enter the favourite places:IT sector
enter the favourite places:film industry
['dagdusheth ganpti', 'sinhgad', 'parvti', 'Lal mahal', 'IT sector', 'film industry']
enter the city name:Ahemdanagr
welcome city: Ahemdanagr
enter the favourite places:shirdi
enter the favourite places:chadbibi mahal
enter the favourite places:maliwada
['dagdusheth ganpti', 'sinhgad', 'parvti', 'Lal mahal', 'IT sector', 'film industry', 'shirdi', 'chadbibi mahal', 'maliwada']
enter the city name:satara
welcome city: satara
enter the favourite places:kaas pathar
enter the favourite places:shivsagar lake
enter the favourite places:pratapgad fort
['dagdusheth ganpti', 'sinhgad', 'parvti', 'Lal mahal', 'IT sector', 'film industry', 'shirdi', 'chadbibi mahal', 'maliwada', 'kaas pathar', 'shivsagar lake', 'pratapgad fort']

## Pattern Programming

In [1]:
n = int(input("Enter the no.of.rows:"))
for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

Enter the no.of.rows:4
1
1 2
1 2 3
1 2 3 4

In [2]:
n=int(input("Enter the no.of rows.."))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(i,-1,-1):
        print(j+1,end=" ")
    print()

Enter the no.of rows..4
      1
    2 1
  3 2 1
4 3 2 1

In [3]:
n=int(input("Enter the no.of.rows.."))
for i in range(n):
    for j in range(i,-1,-1):         
        print(i+1,end=" ")
    print()

Enter the no.of.rows..5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [4]:
n=int(input("Enter the no.of rows.."))
for i in range(n):
    for j in range(i+1):
        print(n-j,end=" ")
    print()

Enter the no.of rows..6
6
6 5
6 5 4
6 5 4 3
6 5 4 3 2
6 5 4 3 2 1

In [5]:
n=int(input("Enter the no.of rows.."))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(i,-1,-1):
        print(n-j,end=" ")
    print()

Enter the no.of rows..9
                9
              8 9
            7 8 9
          6 7 8 9
        5 6 7 8 9
      4 5 6 7 8 9
    3 4 5 6 7 8 9
  2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9

## Star Pattern

In [7]:
n = int(input("Enter the no. of rows"))
for i in range(0,n):
    for j in range(0,n-i-1):
        print(end=" ")
    for j in range(0, i+1):
        print("*", end=" ")
    print()

Enter the no. of rows6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [8]:
n = int(input("Enter the no.of rows:"))
for i in range(n+1):
    for j in range(i+1):
        print("*",end=" ")
    print()

Enter the no.of rows:5
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [9]:
n = int(input("Enter the no.of rows:"))
for i in range(n+1,0,-1):    
    for j in range(0,i-1):  
        print("*", end=' ')  
    print(" ")

Enter the no.of rows:4
* * * *
* * *
* *
*